---
import { SITE_TITLE } from 'src/consts/SiteData';

interface Props {
	title: string;
	description: string;
	image?: string;
	structuredData?: object;
}

const canonicalURL = new URL('https://daniel-tenzler.de');

const {
	title,
	description,
	image = '/blog-placeholder-1.jpg',
	structuredData,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
	http-equiv="Content-Security-Policy"
	content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; object-src 'none'; base-uri 'self';"
/>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<!-- Resource Preloading and DNS Prefetch -->
<link rel="dns-prefetch" href="//api.github.com" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Language and Region -->
<link rel="alternate" hreflang="en" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta
	name="keywords"
	content="web development, software engineering, programming, JavaScript, React, frontend, backend, full stack, Daniel Tenzler"
/>
<meta name="author" content="Daniel Tenzler" />
<meta name="robots" content="index, follow" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!--- Google -->
<meta
	name="google-site-verification"
	content="hrnwYDFUE8Nb1A04yr4XSdi3-k6soGaVolMb8CKkxUo"
/>

<!-- Structured Data (JSON-LD) -->
{
	structuredData && (
		<script
			type="application/ld+json"
			set:html={JSON.stringify(structuredData)}
		/>
	)
}
